name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          token: ${{ secrets.FLOW_TRACK_ORG_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
